{% extends "base.html" %}{% load staticfiles %}{% block content %}


<h1 class="my-4">Welcome to Modern Business</h1>

<!-- Marketing Icons Section -->
<div class="row">
    <div class="col-lg-4 ">
        <div class="card h-100 card-bordered">
            <h4 class="card-header">Titre Article</h4>
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Decouvrez-en</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 ">
        <div class="card h-100 card-bordered">
            <h4 class="card-header">{{name.name}}</h4>
            <div class="card-body">
                <p class="card-text">{{name.picture}}
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Decouvrez-en</a> {{name.publication}}
            </div>
        </div>
    </div>
    <div class="col-lg-4 ">
        <div class="card h-100 card-bordered">
            <h4 class="card-header">Titre Article</h4>
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Decouvrez-en</a>

            </div>
        </div>
    </div>
</div>
{%endblock content %}